.sidebar {
  background-color: var(--bg-color);
  position: sticky;
  max-height: calc(100vh - 96px);
  overflow: auto;
  top: 80px;
  z-index: 9;
  grid-column: 1 / 2;
  border-radius: var(--border-radius);
  align-self: flex-start;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-200);
  border-radius: 100px;
}
/*
  TODO: add sidebar backdrop for mobile
*/
@media screen and (max-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 64px;
    max-height: calc(100vh - 64px);
    transform: translateX(-150%);
    transition: transform 200ms ease-in;
  }
}
.sidebar-open {
  transform: translateX(0%);
}
.aside-nav {
  position: relative;
  height: 100%;
  padding: 24px;
}

.aside-mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}
.aside-nav-link {
  margin-bottom: 16px;
}
.aside-nav-link > a {
  display: block;
  padding: 8px 0px;
}

.aside-nav-title {
  padding-bottom: 16px;
}

.aside-nav-item {
  padding: 12px 16px;
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  transition: background 100ms ease-in;
}

.aside-nav-item:hover {
  /* 
    check for box shadow inset for effect
  */
  background-color: var(--color-primary-200);
}

.aside-nav-item-active {
  background-color: var(--color-primary-200);
}
