.sidebar {
  background-color: var(--bg-color);
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 64px;
}

/*
  TODO: add sidebar backdrop for mobile
.sidebar-backdrop {
  display: none;
} */
@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 200ms ease-in;
    box-shadow: 0px 2px 8px 4px var(--box-shadow-color);
  }
}
.sidebar-open {
  transform: translateX(0%);
}
.aside-nav {
  position: relative;
  height: 100%;
  border-right: 1px solid var(--border-color);
  padding: 24px;
  overflow: auto;
}

.aside-nav-title {
  padding-bottom: 16px;
}

.aside-nav-item {
  padding: 12px 16px;
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  transition: background 100ms ease-in;
}

.aside-nav-item:hover {
  /* 
    check for box shadow inset for effect
  */
  background-color: var(--color-primary-200);
}

.aside-nav-item-active {
  background-color: var(--color-primary-200);
}
