.p-color-text {
  color: var(--color-primary-500);
  font-weight: var(--font-weight-bold);
}
.flex-center-y {
  display: flex;
  align-items: center;
}

/* position */
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.fit {
  width: fit-content;
}

/* Backgrounds */

.p-bg {
  background: var(--color-primary-400);
}
.s-bg {
  background: var(--color-success-400);
}

/* Colors */
.color-gray {
  color: var(--color-neutral-600);
}
.color-p {
  color: var(--color-primary-500);
}

.bold {
  font-weight: var(--font-weight-bold);
}
.medium {
  font-weight: var(--font-weight-semi-bold);
}
.regular {
  font-weight: var(--font-weight-regular);
}
