.docs-main {
  /*
    giving space to the sidebar
    padding-left same as sidebar width
  */
  padding-left: 260px;
  /*
    giving space to the navbar
    padding-top: same as sidebar height
  */
  padding-top: 64px;
  max-width: calc(260px + 860px);
  margin: 0 auto;
}
.docs-section {
}
.docs-article {
  padding: 24px 32px;
}

.docs-text {
  margin: 16px auto;
}

.docs-example {
  margin-bottom: 16px;
  padding: 24px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
/*
  code highlight
*/
pre {
  word-break: break-all;
  word-wrap: break-word;
}
code {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.docs-code-example {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}

.code-iframe {
  width: 100%;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

/*
  avatar section
*/
.avatar-example {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.avatar-iframe {
  height: 180px;
}

/*
  alerts section
*/
.alerts-example {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 
  button section
*/
.button-example {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
