.docs-main {
  /*
    giving space to the sidebar
    padding-left same as sidebar width
  */
  padding-left: 260px;
  /*
    giving space to the navbar
    padding-top: same as sidebar height
  */
  padding-top: 64px;
  max-width: calc(260px + 860px);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .docs-main {
    padding-left: revert;
  }
}
.to-top {
  position: fixed;
  bottom: 4%;
  right: 4%;
  z-index: 99;
  background-color: var(--color-white);
  transition: transform 200ms ease-in;
}
.to-top:hover {
  transform: translateY(-4px);
}
.docs-section {
}
.docs-article {
  padding: 24px 32px;
}

.docs-text {
  margin: 16px auto;
}

.docs-example {
  margin-bottom: 16px;
  padding: 24px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--color-neutral-100);
}
/*
  code highlight
*/
pre {
  word-break: break-all;
  word-wrap: break-word;
}
code {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.docs-code-example {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}

.code-iframe {
  width: 100%;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

/*
  avatar section
*/
.avatar-example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.avatar-iframe {
  height: 180px;
}

/*
  alerts section
*/
.alerts-example {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 
  button section
*/
.button-example {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

/* 
  Card section
 */
.card-example {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 48rem) {
  .card-example {
    align-items: center;
    flex-direction: column;
  }
}

/* Image Section */
.img-example {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* Input section */
.input-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Utils Section */
.utils-exmaple {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
