@use '../helpers/index.scss' as helper;

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  @include helper.flex-center;
  padding: 0px 32px;
  gap: 32px;
  border-bottom: 1px solid var(--border-color);
  height: 64px;
  z-index: 9;
}

.blur {
  background-color: var(--bg-color);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur {
    background-color: revert;
    backdrop-filter: blur(25px);
  }
}
.nav-logo {
  flex: 1;
  justify-content: flex-start;
}
.nav-links {
  @include helper.flex-center;
  gap: 2rem;
}
.nav-link {
  margin-left: 16px;
}

.nav-items {
  @include helper.flex-center;
  flex: 1;
  justify-content: flex-end;
}
