* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}
hr {
  border: 0;
  border-radius: var(--border-radius);
  height: 2px;
  margin: 0 32px;
  text-align: center;
  color: var(--color-neutral-150);
  background: var(--color-neutral-150);
}
