* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: unset;
  font-family: var(--font-family);
  background-color: var(--color-primary-100);
  color: var(--text-color);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}
hr {
  border: 0;
  border-radius: var(--border-radius);
  height: 2px;
  margin: 0 32px;
  text-align: center;
  color: var(--color-neutral-150);
  background: var(--color-neutral-150);
}

pre code::-webkit-scrollbar {
  height: 6px;
}

pre code::-webkit-scrollbar-track {
  background: var(--color-primary-300);
}

pre code::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--color-primary-400);
  border-radius: 100px;
}
