:root {
  /* colors */
  --color-primary-500: hsl(245, 58%, 51%);
  --color-primary-400: hsl(243, 75%, 59%);
  --color-primary-300: hsl(234, 89%, 74%);
  --color-primary-200: hsl(228, 96%, 89%);
  --color-primary-100: hsl(226, 100%, 94%);
  --color-primary-50: hsl(226, 100%, 97%);
  --color-secondary-500: hsl(201, 86%, 26%);
  --color-secondary-400: hsl(201, 87%, 37%);
  --color-secondary-300: hsl(201, 87%, 56%);
  --color-secondary-200: hsl(201, 88%, 75%);
  --color-secondary-100: hsl(201, 88%, 94%);
  --color-success-500: hsl(137, 44%, 25%);
  --color-success-400: hsl(137, 44%, 35%);
  --color-success-300: hsl(137, 44%, 55%);
  --color-success-200: hsl(137, 44%, 74%);
  --color-success-100: hsl(136, 45%, 94%);
  --color-danger-500: hsl(4, 73%, 33%);
  --color-danger-400: hsl(4, 73%, 47%);
  --color-danger-300: hsl(4, 73%, 63%);
  --color-danger-200: hsl(5, 72%, 79%);
  --color-danger-100: rgb(251, 234, 233);
  --color-warning-500: hsl(29, 69%, 36%);
  --color-warning-400: hsl(29, 69%, 52%);
  --color-warning-300: hsl(29, 69%, 66%);
  --color-warning-200: hsl(29, 69%, 81%);
  --color-warning-100: hsl(28, 68%, 95%);
  --color-neutral-900: hsl(240, 22%, 17%);
  --color-neutral-800: hsl(240, 21%, 25%);
  --color-neutral-700: hsl(240, 18%, 35%);
  --color-neutral-600: hsl(240, 14%, 46%);
  --color-neutral-500: rgb(142, 142, 169);
  --color-neutral-400: hsl(240, 13%, 69%);
  --color-neutral-300: hsl(240, 14%, 78%);
  --color-neutral-200: hsl(240, 13%, 88%);
  --color-neutral-150: hsl(240, 14%, 93%);
  --color-neutral-100: hsl(240, 20%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --bg-color: var(--color-white);
  --text-color: var(--color-neutral-900);

  /* font-family */
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  /* fonts */
  --font-weight-bold: 600;
  --font-weight-semi-bold: 500;
  --font-weight-regular: 400;
  --border-radius: 4px;
  --border-color: var(--color-neutral-200);
  --box-shadow-color: hsla(226, 100%, 94%, 0.4);
}

/* 
  Primary color consideration

    --color-primary-500: hsl(250, 54%, 48%);
    --color-primary-400: hsl(250, 80%, 60%);
    --color-primary-300: hsl(250, 79%, 68%);
    --color-primary-200: hsl(250, 80%, 84%);
    --color-primary-100: hsl(251, 80%, 92%); 
  */
