@use '../helpers/index.scss' as helper;

.avatar {
  @include helper.circle(3.125rem);
  overflow: hidden;
}

.avatar-sm {
  @include helper.circle(2rem);
}

.avatar-md {
  @include helper.circle(4rem);
}

.avatar-lg {
  @include helper.circle(4.875rem);
}

.avatar-img {
  object-fit: contain;
  object-position: 50% 50%;
}

.avatar-bg-s {
  @include helper.flex-center;
  background-color: var(--color-secondary-500);
  color: var(--bg-color);
}
.avatar-bg-p {
  @include helper.flex-center;
  background-color: var(--color-primary-500);
  color: var(--bg-color);
}
.avatar-bg-n {
  @include helper.flex-center;
  background-color: var(--color-neutral-800);
  color: var(--bg-color);
}

.avatar-text {
}
