@use './index' as helper;
/*
    Adding variables to root element
*/

:root {
  /* colors */
  @each $label, $value in helper.$colors {
    @each $base, $values in $value {
      --color-#{$base}: #{map-get(($value), '#{$base}')};
    }
  }

  --bg-color: var(--neutral-100);
  --text-color: var(--neutral-900);

  /* font-family */
  --font-family: #{helper.$system-font};

  /* fonts */
  --font-weight-bold: #{helper.$font-weight-bold};
  --font-weight-semi-bold: #{helper.$font-weight-semi-bold};
  --font-weight-regular: #{helper.$font-weight-regular};

  /* spacing */
  @each $label, $value in helper.$spacing {
    --space-#{$label}: #{$value};
  }

  --border-radius: 4px;
  /*
  TODO:
    add outline ring color
    
    */
}

/* 
    typography classes matches the keys
    of ./fonts.scss $fonts map
*/
@each $label, $value in helper.$fonts {
  .#{$label} {
    @each $property, $val in $value {
      #{$property}: #{$val};
    }
  }
}
