@use './index' as helper;
/*
    Adding variables to root element
*/

:root {
  /* colors */
  @each $label, $value in helper.$colors {
    @each $base, $values in $value {
      --color-#{$base}: #{map-get(($value), '#{$base}')};
    }
  }

  --bg-color: var(--color-neutral-100);
  --text-color: var(--color-neutral-900);

  /* font-family */
  --font-family: #{helper.$system-font};

  /* fonts */
  --font-weight-bold: #{helper.$font-weight-bold};
  --font-weight-semi-bold: #{helper.$font-weight-semi-bold};
  --font-weight-regular: #{helper.$font-weight-regular};

  --border-radius: 4px;
  --border-color: var(--color-neutral-200);
  --box-shadow-color: hsla(240, 13%, 88%, 0.4);
  /*
  TODO:
    add outline ring color
    add box-shadows variables
    add border-color
    */
}
